.container{
    width: 100%;
    background-color: #eee;
}

/**
    页头部分
 */
.header{
    height: 40px;
    width: 100%;
    background-color: rgba(201, 21, 35, 0);
    display: flex;
    position: fixed;
    z-index: 99;
}

.header_logo{
    width: 60px;
    height: 36px;
    margin: 2px 0 0 5px;
    background: url('../images/sprites.png') no-repeat 0 -103px;
    background-size: 200px 200px;
}
.header_search{
    flex: 1;
    border-radius: 16px;
    margin: 4px;
    padding-left: 28px;
    border: none;
}
.header_search_icon{
    width: 20px;
    height: 20px;
    background: url('../images/sprites.png') no-repeat -60px -109px;
    background-size: 200px 200px;
    position: absolute;
    top: 10px;
    left: 75px;
}
.header_login{
    width: 60px;
    height: 36px;
    text-align: center;
    line-height: 36px;
    color: white;
    font-size: 17px;
}

/**
    轮播图
 */
.banner{
    width: 100%;
    position: relative;
}
.banner_images{
    width: 1000%;
}
.banner_images li{
    float: left;
    width: 10%;
}
.banner_images li img{
    width: 100%;
    display: block;
}
.banner_dots{
    position: absolute;
    bottom: 10px;
    left: 50%;
    margin-left: -44px;
}
.banner_dots li{
    width: 6px;
    height: 6px;
    border: 1px solid white;
    border-radius: 50%;
    float: left;
    margin-left: 5px;
}
.banner_dots li.current{
    background: white;
}

/**
    导航栏
 */
.nav{
    background: white;
}
.nav ul{
    margin: 5px 0;
}
.nav li{
    float: left;
    width: 25%;
    text-align: center;
}
.nav li a img{
    width: 60%;
    height: 60%;
    display: inline-block;
}
.nav li a p{
    color: gray;
    padding: 5px 0;
}

/**
    主内容
 */
.content{
    background: white;
    padding: 10px;
    margin: 10px auto 0;
    width: 99%;
    box-sizing: border-box;
    box-shadow: 0 0 2px #666;
}
.content_top{
    display: flex;
    margin-bottom: 10px;
}
.content_top>span:nth-child(1){
    background-image: url('../images/seckill-icon.png');
    background-size: 20px 25px;
    width: 20px;
    height: 25px;
    margin-top: -3px;
}
.content_top>span:nth-child(2){
    color: rgb(201, 21, 35);
    font-size: 16px;
    margin-left: 5px;
}
.content_top div{
    flex: 1;
    margin: 0 10px;
}
.content_top div span{
    color: white;
    background: black;
    padding: 0 2px;
}
.content_top>span:nth-child(4){
    color: gray;
}
.content_bottom{
    display: flex;
    text-align: center;
}
.content_bottom div{
    border-right: 1px solid #e0e0e0;
}
.content_bottom div:nth-last-child(1){
    border-right: none;
}
.content_bottom img{
    width: 60%;
    display: inline-block;
}
.content_bottom p:nth-child(2){
     font-size: 13px;
     color: rgb(201, 21, 35);
 }
.content_bottom p:nth-child(3){
    font-size: 14px;
    color: black;
    text-decoration: line-through;
}

/*
    超市
 */
.content_shop_top{
    color: rgb(201, 21, 35);
    border-left: 4px solid rgb(201, 21, 35);
    padding-left: 10px;
}
.content_shop_bottom{
    display: flex;
    margin-top: 6px;
    border-top: 1px solid #e0e0e0;
}
.content_shop_bottom>div{
    text-align: center;
    width: 50%;
}
.content_shop_bottom>div:nth-child(1){
    border-right: 1px solid #e0e0e0;
}
.content_shop_bottom img{
    display: inline-block;
    width: 100%;
}
.border_bottom{
    border-bottom: 1px solid #e0e0e0;
}
